.mu-emoji-dropdown {
  font-family: Lato, sans-serif;
  line-height: 1.8;
  font-size: 17px;
}

.mu-emoji-dropdown * {
  box-sizing: border-box;
}

.mu-emoji-dropdown {
  position: relative;
  display: inline;
}

.mu-emoji-dropdown-toggle {
  text-align: center;
  cursor: pointer;
}

.mu-emoji-dropdown-menu {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 390px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  background-color: white;
  z-index: 500;
  flex-direction: column;
  justify-content: flex-start;
  display: none;
}

.mu-emoji-dropdown-menu.open {
  display: block;
}

.mu-emoji-dropdown-menu-alignment-center {
  left: -175px;
}

.mu-emoji-dropdown-menu-alignment-right {
  right: 0;
}

.mu-emoji-dropdown-menu-alignment-left {
  left: 0;
}

.mu-emoji-dropdown-menu-tabs,
.mu-emoji-dropdown-menu-emojis,
.mu-emoji-dropdown-menu-emojis-categories-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mu-emoji-dropdown-menu-tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 45px;
}

.mu-emoji-dropdown-menu-tabs-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid #AAAAAA;
  cursor: pointer;
}

.mu-emoji-dropdown-menu-tabs-item.disabled {
  cursor: default;
  color: #CCCCCC;
  pointer-events: none;
}

.mu-emoji-dropdown-menu-tabs-item.active {
  border: 1px solid #AAAAAA;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  margin: -1px;
}

.mu-emoji-dropdown-menu-search {
  position: relative;
  padding: 5px;
}

.mu-emoji-dropdown-menu-search-input {
  font-size: 88%;
  width: 100%;
  height: 34px;
  padding: 5px 10px 5px 32px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
}

.mu-emoji-dropdown-menu-search-input:focus {
  border: 1px solid #0B465D;
  outline-color: #0B465D;
}

.mu-emoji-dropdown-menu-search-icon {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #AAAAAA;
}

.mu-emoji-dropdown-menu-emojis {
  width: 100%;
  height: 282px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mu-emoji-dropdown-menu-emojis-categories {
  display: block;
}

.mu-emoji-dropdown-menu-emojis-categories-item {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.mu-emoji-dropdown-menu-emojis-categories:last-child > .mu-emoji-dropdown-menu-emojis-categories-item {
  padding-bottom: unset;
}

.mu-emoji-dropdown-menu-emojis-categories > h4 {
  margin: 0;
  padding: 0 0 0 6px;
}

.mu-emoji-dropdown-menu-emojis-item:hover {
  cursor: pointer;
}

.mu-emoji-dropdown-menu-emojis-item:hover > span {
  filter: brightness(0.90);
  transform: scale(1.000);
}

.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar {
  position: absolute;
  -webkit-appearance: none;
  width: 8px;
}
.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar-corner {
  background: transparent;
}
.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar-thumb {
  background: #d9d9de;
  box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px;
  min-height: 36px;
}
.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar-track,
.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar-thumb {
  background-clip: padding-box !important;
  border-radius: 3px;
  color: transparent;
}
.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar-track {
  background: #f9f9f9;
  box-shadow: inset 0 -4px 0 0, inset 0 4px 0 0;
}
.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar-track,
.mu-emoji-dropdown-menu-emojis::-webkit-scrollbar-thumb {
  background-clip: padding-box !important;
  border-radius: 3px;
  color: transparent;
}

.mu-emojis-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
}

.mu-emojis-footer > .mu-emoji-diversities {
  padding-left: 7px;
  display: flex;
  justify-content: space-between;
  width: 125px;
}

.mu-emojis-footer > .mu-emoji-diversities > i {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.mu-emojis-footer > .emoji-one-legend {
  font-size: 9px;
  padding: 0 5px;
  margin-top: 0;
  color: #AAAAAA;
  cursor: default;
  text-align: right;
  width: 100%;
}

.mu-emojis-footer > .emoji-one-legend a,
.mu-emojis-footer > .emoji-one-legend a:hover,
.mu-emojis-footer > .emoji-one-legend a:focus,
.mu-emojis-footer > .emoji-one-legend a:active,
.mu-emojis-footer > .emoji-one-legend a:visited {
  color: #999999;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.mu-emoji-dropdown-menu-emojis .mu-emoji {
  margin: 2px;
}